<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">

	<listeners>
		<listener class-name="google.Base.TestListener" />
	</listeners>

	<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value="https://google.com" />

	<test name="Admin Tests">
		<classes>
			<class name="google.Tests.BasePageTest" />
			<class name="google.Tests.SignInPageTest" />
			<class name="google.Tests.CreateAccountTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
